body {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #f6c1c3;
}

.board{
  background-image: url('../asserts/bg.jpg');
  width: 651px;
  height: 504px;
  background-repeat: no-repeat;
  background-size: cover; 
  display: box;
  margin: auto;
}

.dashboard{
  margin-top: -125px;
  margin-left: 10%;
  font: 18px;

}
.status {
  font: 24px;
  display: inline-block;
  width: 180px;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;

}

.button {
  background-color: white;
  width: 150px;
  border: none;
  color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
  margin-right: 30px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.grid{
  width: 651px;
  height: 504px;
  padding-left: 46px;
  padding-top: 78px;
  cursor: pointer;
}

.column{
  width: 60px;
  height: 360px;
  margin: 0px 10px;
  display: inline-block;
}

.cell {
  height: 60px;
  width: 60px;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%,);
}

.redCoin {
  background-image: radial-gradient(ellipse at center, red 44%, #cc0000 45%, #cc0000, 59%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 0%);
}

.yellowCoin {
  background-image: radial-gradient(ellipse at center, yellow 44%, #cccc00 45%, #cccc00 59%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 0%);
}

.r {
  color: red;
  background-color: #fff;
  border-radius: 9px;
  padding: 5px;
}

.y {
  color: #000;
  background-color: yellow;
  border-radius: 9px;
  padding: 5px;
}