body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.boardBg{
  background-image: url('../asserts/bg.png');
  width: 651px;
  height: 504px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #333;
  display: box;
  margin: auto;
}

.board{
  width: 651px;
  height: 504px;
  padding-left: 45px;
  padding-top: 78px;
  cursor: pointer;
}

.column{
  width: 60px;
  height: 360px;
  margin: 0px 10px;
  display: inline-block;
}

.cell {
  height: 60px;
  width: 60px;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%,);
}

.redCoin {
  background-image: radial-gradient(ellipse at center, red 44%, #cc0000 45%, #cc0000, 59%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 0%);
}
.yellowCoin {
  background-image: radial-gradient(ellipse at center, yellow 44%, #cccc00 45%, #cccc00 59%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 0%);
}